  :root {
     --main-light-color: #FFFFFF;
     /*основной цвет на сайте*/
     --main-dark-color: #212121;
     /* основной цвет на сайте*/
     --main-grey-color: #757575;
     /*используется в текстовых описаниях профессий и деятельности*/
     --logo-dark-color: #000000;
     /*цвет лого подвала в спане*/
     --contact-color: rgba(255, 255, 255, 0.6);
     /* для телефона и почты подвала*/
     --active-link-color: #2196f3;
     /* кнопка, ссылка при нажатии, лого*/
     --background-dark-color: #2F303A;
     /* фон героя и подвала*/
     --background-light-color: #F5F4FA;
     /* фон блока "наша команда"*/
 }